.sn3 {
    /* background: url("../../img/sn3-bg.jpg") no-repeat top left;
    height: 100%;
    width: 100%;
    background-size: cover; */
    background-color: #120D08;
}
/* @media (min-width: 992px) {
    .sn3 {
        background: url("../../img/desktop/sn3__bg.jpg") no-repeat top left;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
} */