.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
.container-fluid {
  	width: 100%;
  	margin: 0 auto;
}

@media (min-width: 320px) {
    .container {
      max-width: 260px;
    }
  }
@media (min-width: 360px) { 
    .container {
      /* max-width: 320px; */
      max-width: clamp(320px, 80vw, 560px);
    }
  }
  
@media (min-width: 576px) {
      /* .container {
        max-width: 540px;
      } */
    }

@media (min-width: 768px) {
      .container {
        max-width: 720px;
      }
    }
    
@media (min-width: 992px) {
      .container {
        max-width: 960px;
      }
    }
    
@media (min-width: 1190px) {
      .container {
        max-width: 1120px;
      }
    }
    
@media (min-width: 1270px) {
      .container {
        max-width: clamp(1200px, 85vw, 1600px);
      }
    }